<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scraper</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <%- include('../partials/errorMessage.ejs') %>
  <%- include('../partials/searchCriteria.ejs') %>
  <% search.forEach(searchs => { %>
  <div><a href=""><%= searchs.title %></a></div>
  <% }) %>
  <%- body %>
</body>
<a href=""></a>

</html>